/* #region Allgemein */

.main {
    font-size: 1em;
    hyphens: manual;
}

@media screen and (max-width: 800px) {
    .main {
        font-size: 0.7em
    }
}

@media screen and (min-width: 1800px) {
    .main {
        font-size: 1.25em
    }
}

* {
    margin: 0;
    padding: 0;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body,
html {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Mixta-Pro, Georgia, serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    letter-spacing: 0.01em;
    width: 100%;

}

h2 {
    font-size: 6em;
    text-align: center;
}

p,
text {
    font-family: Sofia-Pro;
    font-weight: 500;
    font-style: normal;
    color: white;
    fill: white;
    font-size: 1em;

}

/*Parallax Fix */
.parallaxweak {
    transform: translate(0, 25px);
}

.parallax {
    transform: translate(0, 50px);
}

.parallaxstrong {
    transform: translate(0, 90px);
}

/* #endregion */
/* #region Trenner */
section.trenner {
    width: 100%;
    position: relative;
    min-height: 5em;
}
section.trenner-klein {
    width: 100%;
    position: relative;
    min-height: 2em;
}

/* #endregion */
/* #region Allgemeine Gestaltung von Diagrammen */
h3 {
    font-size: 1.9em;
    line-height: 120%;
    padding-bottom: 10px;
}

svg path {
    fill: none;
    stroke: grey; 
}

figure.diagramm {
    width: 70%;
    max-width: 1000px;
    display: block;

}

g.tick text {
    font-size: 1.2em;
    font-weight: 800;
    fill: white;
}

g.tick line {
    stroke: grey;
}

g.sprachen line {
    stroke: grey;
}

.tooltip {
    background-color: lightgray;


}

.legende-text {
    font-size: 12px;
}

rect.bar {
    fill: white;
}

/* #endregion */
/* #region Splash-Screen */
section.panel.intro {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

section.panel.intro div#intro-container {
    width: 100%;
    height: 20%;
    min-height: 100px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    display: block;
}

div#intro-container div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
}

div#intro-container div img {
    width: 20px;
}

section.panel.splash {
    background-color: black;
    height: 100vh;
    width: 100vw;
    position: relative;
}

div.bgpic {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0.5;

}

div.bgpic#buhne {
    background-image: url(/Resources/img/bg/esc-buhne.jpg);
    background-position: center center;
    background-size: cover;
    opacity: 0;
}

div.bgpic#fragez {
    background-image: url(/Resources/img/bg/Hintergrund-Titel-Frage.png);
    background-position: center center;
    background-size: cover;
    opacity: 0;
}

div.bgpic#titeleins {
    opacity: 0;
}

div.bgpic#titelzwei {
    opacity: 0;
}

div.bgpic h1 {
    font-size: calc(30px + 4vw);
    color: white;
    width: 1000px;
    max-width: 80%;
    padding: 0 20px;
    text-align: center;
}




/* #endregion */
/* #region Video-Titel */
div.video-container {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    min-width: 300px;
    min-height: 400px;
    position: relative;
}

div.video-container video {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    filter: grayscale(100%)
}

div.video-container img.overlay {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    mix-blend-mode: multiply;
}

div.video-content {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    mix-blend-mode: normal;
}

/* #endregion */
/* #region normale Panel*/

section.background {
    height: max-content;
    background-size: cover;
    background-attachment: fixed;
}

div.content {
    max-width: 1800px;
    width: 100%;
    min-width: 400px;
    height: max-content;
    overflow: hidden;
    display: relative;
    margin: 0px auto;
    padding-top: 2em;
}

section.diagramm {
    width: 100%;
    height: max-content;
    overflow: hidden;
    display: flex;
    margin: 0 auto 0;
    justify-content: center;
    align-content: center;
    position: relative;
}

section.diagramm div.object {
    width: 70%;
    height: 100vh;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;

}

section.diagramm div.object.langprevalence {
    height: max-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}


section.text {
    width: 40%;
    max-width: 600px;
    min-width: 200px;
    min-height: max-content;
    height: 60vh;
    padding: 0 2em;   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

figure.diagramm {
    width: 100%;
    min-width: 250px;

}

section.diagramm div.side {
    width: 30%;
    min-width: 200px;
    box-sizing: border-box;
    padding: 10px 10px 300px;
    display: block;
    max-width: 300px;
    height: max-content;
    position: relative;

}

section.diagramm div.side div.fact {
    height: 100vh;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    align-content: left;
    min-height: 300px;
    max-height: 600px;
}

/* #endregion */
/* #region Sprachen Diagramm */

section.background.language {
    background-image: url(/Resources/img/bg/1920w/lila.jpg);
}

section.background.composer {
    background-image: url(/Resources/img/bg/1920w/blau.jpg);
}

section.background.points {
    background-image: url(/Resources/img/bg/1920w/grun.jpg);
}

strong.de {
    color: gold;
}

strong.it {
    color: green;
}

strong.fr {
    color: lightblue;
}

/*Sprache Leiste */
section.langprevalence {
    height: 2000px;
}

section.langprevalence div.side {
    height: 100%;
    width: 70%;
    position: relative;
}

section.langprevalence div.side div.fact {
    height: max-content;
    width: 100%;
    position: absolute;
}

section.langprevalence div.side div.fact.eins {
    top: 10%;
}

section.langprevalence div.side div.fact.zwei {
    top: 45%;
}

section.langprevalence div.side div.fact.drei {
    top: 80%;
}

section.langprevalence div.object {
    height: 100%;
    width: 30%;
    max-width: 500px;
    display: flex;
    align-items: center;

}

/* #endregion */
/* #region Split */
section.split {

    min-width: 600px;
    width: 80%;
    max-width: 1440px;
    max-width: 80%;
    display: flex;
    position: relative;
    margin: auto;
    padding: 0em 1em 0em;
    height: max-content;
}

section.split div.image {
    width: 60%;
    position: relative;
    padding: 2em 2em;

}

section.split div.image img {
    width: 100%;
    min-width: 100px;
    position: relative;
    margin: auto 0;
    z-index: 1;
    padding: 0 2em;
}

section.split div.image img.hinten {
position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

section.split div.image h3.caption {
    position: absolute;
    left: 5%;
    top: 75%;
    z-index: 10;
    width: fit-content;
    height: 70px;
    font-size: 2.8em;
}

section.split div.image p.caption {
    position: absolute;
    left: 20%;
    top: 56%;
    z-index: 10;
    width: fit-content;
    height: 70px;
    font-size: 1em;
    line-height: 140%;
}

section.split div.caption {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 2em;
}

h1.bgcaption {
    position: absolute;
    left: 57%;
    top: 50%;
    z-index: 0.5;
    width: fit-content;
    height: max-content;
    font-size: 12em;
    text-align: center;
}

div.captioncontainer {
    position: absolute;
    right: 2%;
    top: 22%;
    z-index: 0.5;
    width: fit-content;
    height: 100px;
}

#lovebulgarialyrics {
    bottom: 10%;
    left: 10%;
}

#bulgaria-zahl {
    top: 0;
    left: 0;
    font-size: 12em;
    line-height: 0.5em;
}

#fantasie-name {
    font-size: 3em;
    left: 40%;
    top: 20%;
    line-height: 90%;
}

#fantasie-lyrics {
    top: 50%;
    left: 10%;
}


#meinungerzahl {
    left: 20%;
    top: 30%;
}

#meinungername {
    left: 46%;
    top: 70%;
}

#gsonzahl {
    top: 18%;
    left: 56%;
}
#gsonname {
    top:65%;
    left: 10%;

}
#milanovname {
    top:65%;
    left: 10%;

}

#milanovzahl {
    top: 23%;
    left: 60%;
}

#sharonzahl {
    left: 25%;
    top: 20%;
}

#sharonname {
    top: 70%;
    left: 45%;
}

#siegel-name {
    left: 45%;
    top: 65%;
}

#siegel-zahl {
    left: 8%;
    top: 16%;
}

#dananame {
    left: 8%;
    z-index: 2;
    top: 50%;
    font-size: 3em;
 text-align: left;
    line-height: 90%;
    max-width: 50%;
}

#schlecht-zahl {
    left: 13%;
    top: 22%;
}

#portugal-name {
    left: 8%;
    z-index: 2;
    top: 60%;
    font-size: 3em;
 text-align: left;
    line-height: 90%;
    max-width: 70%;
    position: absolute;
}

/* #endregion */
/* #region Zeitleiste */
section.zeitleiste {
    height: 100vh;
    min-height: 500px;
    width: 100vw;
    position: relative;
    overflow: visible;
}
section.zeitleiste div.zeitleiste-container {
    height: 100%;
    width: 5000px;
    overflow: visible;
    position: relative;
    display: grid;
    grid-template-columns: minmax(2fr, 45vw) minmax(2fr, 45vw) repeat(9, 1fr) 0.5fr 0.5fr ;
    grid-template-rows: 1fr 1.8fr 2.2fr 1fr 1fr 0.5fr;
    gap: 0 4em; 
}

h1#titel-zeitleiste{
    grid-area: 2/1/span 2/span 2;
    text-align: center;
    place-self: center;
    font-size: 3em;
    width: 50%;
}

div#zeitleiste-border{
    grid-area: 5/2/span 1/ span 11;
    border-top: 3pt solid white;
}

div#zeitleiste-border-long-container{
    grid-area: 4/1/span 2/ span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0;

}

div#zeitleiste-border-long{
    grid-area: 2/2/span 1/ span 1;
    border-top: 3pt solid white;
    align-self: stretch;
    justify-self: stretch;
}

/* Allgemeine Regeln */
div.zl-jahr{
    grid-row: 4/ span 1;
    align-self: end;
    justify-self: center;
    box-sizing: content-box;
    padding-bottom: 3px;
    position: absolute;

}
div.zl-jahr h3 {
    text-align: center;
}

div.zl-kreis-container{
    width: 20px;
    height: 20px;
    place-self: center;
    grid-row: 4 / span 2;
    box-sizing: content-box;
    padding-top: 6px;
}
div.zl-kreis-container svg circle{
    fill: white;
}
div.zl-text{
    grid-row: 3 / span 1;
    align-self: start;
    justify-self: stretch;
    padding: 0 0 0 10px;
}
div.zl-text p{
    text-align: left;
}

div.zl-header{
    grid-row: 2 / span 1;
    align-self: end;
    justify-self: stretch;
    padding: 0 0 0 10px;
}

/* sPezifische Regeln */


div.zl-spalte-0{
    grid-column: 1/ span 2;
}
div.zl-spalte-1{
    grid-column: 3/ span 1;
}
div.zl-spalte-2{
    grid-column: 4/ span 1;
}
div.zl-spalte-3{
    grid-column: 5/ span 1;
}
div.zl-spalte-4{
    grid-column: 6/ span 1;
}
div.zl-spalte-5{
    grid-column: 7/ span 1;
}
div.zl-spalte-6{
    grid-column: 8/ span 1;
}
div.zl-spalte-7{
    grid-column: 9/ span 1;
}
div.zl-spalte-8{
    grid-column: 10/ span 1;
}
div.zl-spalte-9{
    grid-column: 11/ span 1;
}
/* #endregion */
/* #region Sprachen Fakte Split */




/* #endregion */
/* #region Karte Teilnehmeränder */
section.diagramm div.object-full {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    box-sizing: border-box;
    padding: 2em;
    position: relative;
    
}

div.karte-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
}

figure#figure-karte{
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
}

div.karte-overlay h1{
position: absolute;
text-align: left;
bottom: 20%;
left: 10%;
font-size: 6em;
opacity: 0;
}

.dataland {
 fill: lightgrey;
 fill-opacity: 0; 
    stroke: #fff;

}

/* #endregion */

/* #region outro */
section.outro{
    margin: auto 0;
    width: 100%;
    max-width: 2400px;
    height: 500px;
    background-image: url("./img/bg/Bild-Image/flaggenmeer-gr.png");
    background-size: 100% auto;
    background-position: center bottom;
    background-repeat: no-repeat;
    position: relative;
}

section.outro div.outro-grid{
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid
}

section.outro div.outro-grid div.outro-container{
    align-self: center;
    justify-self: center;
    width: 700px;
    font-size: 1.3em;
    color: white;
    text-align: center;

}

section.outro div.outro-grid div.outro-container a:link {
    color: white;
}

section.outro div.outro-grid div.outro-container a:visited{
    color: white;
}
section.outro div.outro-grid div.outro-container p{
    font-size: 1em;
    color: white;
    line-height: 110%;
    text-shadow: 3px 0px 5px #000000;
}



/* #endregion